.FooterWrapper{
    // position: relative;
    position: absolute;
    width: 100%;
    height: 200px;
    border: solid 1px black;
    // bottom: -90vh;
    bottom: 0;
    color: white;
    background-color: #402B26;

    .Footer{
        height: 100%;
        width: 100%;
        color: white;
        background-color: #402B26;
    }

    .title{
        position: absolute;
        font-size: 64px;
        color: white;
        font-family: 'MonumentExtended-Black';
        left: 38%;
        top: 10%;
    }

    .author{
        position: absolute;
        right: 0;
        bottom: 0;
        font-size: 10px;
        padding: 1rem;
        font-family: 'MonumentExtended-Black';
        line-height: 200%;

        a{
            color: inherit;
            text-decoration: none;
        }
        a:hover{
            border-bottom: solid white 2px;
        }
    }
}

