// font

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.AppWrapper{
    // min-height: 340vh;
    height: 340vh;
    // it worked for now 
    width: 100%;
    position: relative;
}